# jetbrains
.idea/

# vs code
.vscode/

# mac
.DS_Store

# kde
.directory

# npm
node_modules/
npm-debug.log*

# docker
.dockerignore
docker-compose.yml
Dockerfile

# git
README.md

# test
__tests__/
.nyc_output/
coverage/
